h1 {
  width: max-content;
  margin-right: auto;
  margin-left: auto;
}

table {
  border: 1px solid #dddddd;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #2c3e50;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #efefef;
}

.search {
  background-color: rgb(51, 51, 230);
  color: #fff;
  padding: 24px 12px;
  border-radius: 4px;
  width: max-content;
  margin: auto;
}

.search input, .search select {
  margin-right: 24px;
  height: 32px;
  border-radius: 4px;
  padding: 4px;
  outline: 0;
  border: none;
  font-size: 16px;
}

.search button {
  color:rgb(51, 51, 230);
  border-radius: 4px;
  font-weight: 600;
  border: none;
  height: 40px;
  font-size: 16px;
  padding: 12px;
}

form label {
  display: block;
  font-size: 16px;
  margin-bottom: 24px;
}

form input, form select {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}