* {
  font-family: arial, sans-serif;
}

h1 {
  width: max-content;
  margin-right: auto;
  margin-left: auto;
}

p {
  text-align: center;
}

table {
  border: 1px solid #dddddd;
  border-collapse: collapse;
  width: 100%;
  height: max-content;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #2c3e50;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #efefef;
}

form input, form select {
  margin-right: 24px;
  padding: 8px;
  border-radius: 4px;
  padding: 4px;
  outline: 0;
  border: none;
  font-size: 16px;
  box-sizing: border-box;
}

.container {
  display: flex;
  padding: 24px;
}

.delete-msg {
  width: max-content;
  margin: auto;
}

.delete-msg button{
  padding: 8px;
  margin: 12px;
  width: 200px;
  border-radius: 4px;
  border: 1px solid #2c3e50;
  cursor: pointer;
}

.delete-msg button:first-of-type {
  background-color: #2c3e50;
  color: #fff;
}

form {
  width: 500px;
  margin: 0 auto;
}

#search {
  margin-right: 24px !important;
}

form label {
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}

form input, form select {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="submit"] {
  background-color: #2c3e50;
  color: #fff;
  cursor: pointer;
}

input + div {
  font-size: 14px;
  color: #858585;
  margin-top: -18px;
  margin-bottom: 18px;
}

input + div.error {
  color: #c70000;
}